* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	color: #18181b;
	font-family: "Inter", sans-serif;
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: #afaaaa;
}

.container {
	position: absolute;
	align-items: center;
	width: 947px;
	height: 1004px;
	left: 167px;
	top: 0px;

	/* Background/Bg-main */

	background: #fafafa;
	box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}

form {
	align-self: flex-start;
	margin-top: 16px;
}

form label {
	display: block;
	font-family: inter;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 8px;
}

.nama {
	margin-bottom: 16px;
}

.input_nama {
	position: relative;
	width: 400px;
	height: 45px;
}

.input_nama input {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 24px 0 48px;
	background: #e5fcf6;
	border: 2px solid #003d3f;
	border-radius: 10px;
	font-family: inter;
	font-size: 16px;
	font-weight: 400;
	color: #18181b;
}

.tgl {
	margin-bottom: 8px;
}

.input_tgl {
	position: relative;
	width: 400px;
	height: 45px;
}

.input_tgl input {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 24px 0 48px;
	background: #e5fcf6;
	border: 2px solid #003d3f;
	border-radius: 10px;
	font-family: inter;
	font-size: 16px;
	font-weight: 400;
}

.provinsi {
	margin-bottom: 16px;
}

.input_provinsi {
	position: relative;
	width: 400px;
	height: 45px;
}

.input_provinsi input {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 24px 0 48px;
	background: #e5fcf6;
	border: 2px solid #003d3f;
	border-radius: 10px;
	font-family: inter;
	font-size: 16px;
	font-weight: 400;
	color: #18181b;
}

.kota {
	margin-bottom: 16px;
}

.input_kota {
	position: relative;
	width: 400px;
	height: 45px;
}

.input_kota input {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 24px 0 48px;
	background: #e5fcf6;
	border: 2px solid #003d3f;
	border-radius: 10px;
	font-family: inter;
	font-size: 16px;
	font-weight: 400;
	color: #18181b;
}

.alamat {
	margin-bottom: 16px;
}

.input_alamat {
	position: relative;
	width: 400px;
	height: 45px;
}

.input_alamat input {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 24px 0 48px;
	background: #e5fcf6;
	border: 2px solid #003d3f;
	border-radius: 10px;
	font-family: inter;
	font-size: 16px;
	font-weight: 400;
	color: #18181b;
}

.telp {
	margin-bottom: 16px;
}

.input_telp {
	position: relative;
	width: 400px;
	height: 45px;
}

.input_telp input {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 24px 0 48px;
	background: #e5fcf6;
	border: 2px solid #003d3f;
	border-radius: 10px;
	font-family: inter;
	font-size: 16px;
	font-weight: 400;
	color: #18181b;
}
.button_kembali {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 14px 0px;

	width: 200px;
	height: 48px;

	background: #fafafa;
	box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}

.button_kembali:hover {
	background: #00d9de;
	box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	cursor: pointer;
}

.button_next {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 14px 0px;

	width: 200px;
	height: 48px;

	background: #0a9396;
	box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}

.button_next:hover {
	background: #00d9de;
	box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	cursor: pointer;
}
