*{
    margin: 0px;
    padding: 0px;
    font-family:'Inter', sans-serif;;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color:#FAFAFA ;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Inter";
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15;
    width: 100%;
    height: 60px;
    background-color: #FAFAFA;
    box-shadow: 0px 3px 15px 0 rgba(24, 24, 27, 0.15); 
}

.hamburger


.logo {
    padding: 15px;
    float: left;
    align-items: center;
    margin: ;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation > li {
    list-style-type: none;
    padding: 15px;
}

.navigation > li > a {
    color: ##18181B;
    font-family: "Inter";
    font-size: 16px ;
    text-decoration: none;
}

.navigation>li>a:hover{
    color: #E5FCF6;
    transition: all ease-in-out;
}

.edu {
    justify-content: right;
}

.tbl-putih {
    width: 800x;
    height: 45px;
    color: # black;
    background-color: #FAFAFA;
    box-shadow: 0px 3px 15px 0 rgba(24, 24, 27, 0.15);
    border-radius: 10px;
}

.tbl-hijau {
    background: #0A9396;
    box-shadow: 3px 5px 5px rgba(24, 24, 27, 0.15);
    border-radius: 10px;
    text-decoration: none;
}

.Daftar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 3px;

    width: 398px;
    height: 329px;
}