* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #18181B;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #afaaaa;
}  

.container{
    position: absolute;
    align-items: center;
    width: 947px;
    height: 1004px;
    left: 167px;
    top: 0px;

    /* Background/Bg-main */

    background: #FAFAFA;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

form {
    align-self: flex-start;
    margin-top: 16px;
    
}

form label {
    display: block;
    font-family: inter;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    
}

.pekerjaan{
    margin-bottom: 16px;
}

.input_pekerjaan {
    position: relative;
    width: 400px;
    height: 45px;
}

.input_pekerjaan input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 24px 0 48px;
    background: #E5FCF6;
    border: 2px solid #003D3F;
    border-radius: 10px;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    color: #18181B;
}

.bidang{
    margin-bottom: 16px;
}

.input_bidang {
    position: relative;
    width: 400px;
    height: 45px;
}

.input_bidang input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 24px 0 48px;
    background: #E5FCF6;
    border: 2px solid #003D3F;
    border-radius: 10px;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    color: #18181B;
}

.deskripsi{
    margin-bottom: 16px;
}

.input_deskripsi {
    position: relative;
    width: 400px;
    height: 45px;
}

.input_deskripsi input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 24px 0 48px;
    background: #E5FCF6;
    border: 2px solid #003D3F;
    border-radius: 10px;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    color: #18181B;
}


